
    <div class="">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper form-group">
                {{ form.first_name.errors }}
                {{form.first_name.label_tag}}
                {{form.first_name}}
            </div>
            <div class="fieldWrapper form-group">
                {{ form.last_name.errors }}
                {{form.last_name.label_tag}}
                {{form.last_name}}
            </div>
            <div class="fieldWrapper form-group">
                {{ form.description.errors }}
                {{form.description.label_tag}}
                {{form.description}}
            </div>
            <div class="fieldWrapper form-group">
                {{ form.profile_img.errors }}
                {{form.profile_img.label_tag}}
                {{form.profile_img}}
            </div>
            <div class="fieldWrapper form-group">
                {{ form.group.errors }}
                {{form.group.label_tag}}
                {{form.group}}
            </div>
            <button type="submit" value="submit">Add Person</button>
        </form>
    </div>