<nav class="navbar navbar-default sticky-top navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact-new' %}">Add contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'group-list' %}">Groups</a>
            </li>
        </ul>
    </div>
</nav>
